body {
    background-color: #faf1e6;
}
.heading {
    display: flex;
    justify-content: center;
}

h1, h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.container {
    display: flex;
}

.item {
    font-family: 'Lobster', cursive;
    height: 90vh;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin: 5px;
    position: relative;
}

.selected {
    flex: 4;
}

.selected h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    transition: all 1s ease-in;
}

.selected .ingr {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    transition: all 1s ease-in;
}

.selected .par {
    font-family: 'Lobster', cursive;
    font-size: 15px;
    transition: all 1s ease-in;
}

h4 {
    border-radius: 0% 100% 23% 77% / 0% 27% 73% 100% ;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: #ebdc0c;
    color: black;
    font-size: 0;
}

.ingr {
    border-radius: 30% 70% 70% 30% / 45% 21% 79% 55%;
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #f48a09;
    color: black;
    font-size: 0;
}

.par {
    position: absolute;
    bottom: 70px;
    left: 10px;
    background-color: #e5d525;
    color: black;
    font-size: 0;
    border-radius: 10px;
    padding: 10px;
}

.one {
    background-image: url('https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGF2b2NhZG98ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
}

.two {
    background-image: url('https://images.unsplash.com/photo-1568310925696-949cfd79d85f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXJ1Z3VsYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
}

.three {
    background-image: url('https://images.unsplash.com/photo-1494597706938-de2cd7341979?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2404&q=80');
}

.four {
    background-image: url('https://images.unsplash.com/photo-1505253716362-afaea1d3d1af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8U2FsYWQlMjBBdm9saWdodHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
}

.five {
    background-image: url('https://images.unsplash.com/photo-1556386734-4227a180d19e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fFNhbGFkJTIwQXZvbGlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
}

.six {
    background-image: url('https://images.unsplash.com/photo-1617297076326-16f10b8ab6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJyb2Njb2xpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
}

.text-input {
    border: none;
    padding: 12px 20px;
    background-color: #faf1e6;
}

label {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    display: flex;
}

.btn {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    background-color: #d77a08;
    border: none;
    border-radius: 10px;
    flex: 1;
}